<!-- app/views/projects/index.html.erb -->
<h1>Projects</h1>

<% @projects.each do |project| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= project[:name] %></h5>
      <p class="card-text">
        Total Tasks: <%= @tasks.select { |task| task[:project_id] == project[:id] }.count %>
      </p>
      <p class="card-text">
        Tasks Completed: <%= @tasks.select { |task| task[:project_id] == project[:id] && task[:status] == 'done' }.count %>
      </p>
      <%= link_to 'Show', project_path(project[:id]) %>
    </div>
  </div>
  
<% end %>